
{% extends "base.html" %}
{% block title %}Librosyn{% endblock %}
{% block content %}
<div class="jumbotron">
      <div class="container">
		<form method="get" action="/api/read">
	    <h1>Looking for a book to borrow?</h1>
             <input type="text" class="form-control" name="title" placeholder="Title of the book"/>
             <input type="number" class="form-control" name="zipcode" placeholder="Zip Code you live in"/>
             <button type="submit" class="btn btn-primary btn-block">Find a book for me!</button>
         </form>
          
		</div></div>
		<br>
    <div class="container"><div class="row">
		<h2>Some random books</h2>
		<table class="table table-striped">
			<tbody>
                {% for i in books %}
				<tr><td class="col-md-11"><b>{{i.title}}</b> &mdash; {{i.author}}</td><td><a href="/book/{{i._id}}"><button  type="submit" class="btn btn-info btn-xs">Read More</button></a></td></tr>
                {% endfor %}
			</tbody>
  		</table>
        </div></div>
{% endblock %}
